.app {
  display: flex;
  flex-direction: column;
  height: 100vh; }
  .app main {
    flex-grow: 1;
    position: relative; }
    .app main splashscreen-ui {
      position: absolute;
      z-index: 1000;
      top: 0px;
      bottom: 0px;
      width: 100%; }
      .app main splashscreen-ui .splash-screen, .app main splashscreen-ui .content-wrapper {
        height: 100%; }
