html, body {
  font-size: 14px;
  background-color: white; }

section {
  padding: 50px 0px; }

.title {
  font-size: 30px; }

.title {
  margin-bottom: 10px; }

img {
  width: 100%;
  height: auto; }

.page-wrapper .subtitle {
  text-decoration: underline; }

.page-wrapper p {
  max-width: 700px; }

.page-wrapper .installers li .item-wrapper {
  display: flex;
  align-items: center; }

.page-wrapper .installers a {
  color: #007bff;
  cursor: pointer;
  margin-right: 5px; }

.page-wrapper .installers .img-wrapper {
  height: 20px !important; }

.page-wrapper .installers splashscreen-ui {
  max-width: 400px; }
