html, body {
  font-size: 14px;
  background-color: white; }

section {
  padding: 50px 0px; }

.section-intro .intro .title {
  font-size: 30px; }

.section-intro .intro .title {
  margin-bottom: 25px; }

img {
  width: 100%;
  height: auto; }

.card-collection {
  display: flex; }
  .card-collection [class*=col-] {
    display: flex; }

.section-intro .intro {
  text-align: center;
  max-width: 700px;
  margin: 0px auto; }

.section-cards {
  background-color: #f4f4f4; }
