html, body {
  font-size: 14px;
  background-color: white; }

section {
  padding: 50px 0px; }

.title {
  font-size: 30px; }

.title {
  margin-bottom: 10px; }

img {
  width: 100%;
  height: auto; }

.page-wrapper .subtitle {
  text-decoration: underline; }

.page-wrapper .title {
  margin-bottom: 20px; }

.page-wrapper p {
  max-width: 700px; }

.page-wrapper .section-example {
  background-color: #f4f4f4; }
