html, body {
  font-size: 14px;
  background-color: white; }

section {
  padding: 50px 0px; }

.title {
  font-size: 30px; }

.title {
  margin-bottom: 10px; }

img {
  width: 100%;
  height: auto; }

:host(.footer) .nav-list {
  flex-direction: column; }
  :host(.footer) .nav-list .nav-item {
    margin: 0px; }
    :host(.footer) .nav-list .nav-item a {
      background-color: transparent;
      color: white;
      padding: 0px; }
      :host(.footer) .nav-list .nav-item a:hover {
        text-decoration: underline; }

:host(.mobile) .nav-list {
  height: 100vh;
  width: 100%;
  flex-direction: column; }
  :host(.mobile) .nav-list .nav-item {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px; }
    :host(.mobile) .nav-list .nav-item a {
      display: block;
      padding: 5px 20px; }

.nav-list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px; }
  .nav-list .nav-item {
    margin-left: 10px; }
    .nav-list .nav-item a {
      background-color: dimgray;
      display: block;
      padding: 5px 20px;
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: background-color 0.3s; }
      .nav-list .nav-item a:hover {
        background-color: white;
        color: #2e302b; }
