.splash-screen img {
  max-height: 100%;
  max-width: 100%; }

.splash-screen .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4; }

.splash-screen .size-large {
  background: gainsboro; }
  .splash-screen .size-large .img-wrapper {
    height: 100px; }

.splash-screen .size-small .img-wrapper {
  height: 20px; }

.displayType-absolute, .displayType-absolute .content-wrapper {
  height: 100%; }
