@import 'variables';
html, body{
    font-size: 14px;
    background-color: $white;
}

section{
    padding: 50px 0px
}

// a{
    // text-decoration: none;

// }
.title{
    @extend %title-font-size;
    @extend %title-space;
}

%title-font-size{
    font-size: 30px;
}

%subtitle-font-size{
    font-size: 20px;
    //text-decoration: underline;
}

%title-space{
    margin-bottom: 10px;
}





img{
    width: 100%;
    height: auto;
}


