
//colours
$grey: #f4f4f4;
$white: white;
$black: #2e302b;
$purple: #966d96;

//general
$boxShadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);

//fonts


//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;