@import 'variables';
.my-card{
    text-align: center;
    box-shadow: $boxShadow;
    padding: 20px;
    margin: 10px;
    background-color: $white;
    .header{
        margin-bottom: 20px;
    }
    width: 100%;
}
:host{
    display: flex;
    flex-grow: 1;
}