@import 'global';
.page-wrapper{
    .subtitle{
        //font-size: 20px;
        text-decoration: underline;
    }
    
    .title{
        margin-bottom: 20px;
    }

    p{
        max-width: 700px;
        //margin: 0px;
    }

    .installers{
        a{
            color: #007bff;
            cursor: pointer;
        }
    }


    // .section-intro{
    //     p{
    //         margin: 0px auto;
    //         text-align: center;

    //     }
    // }
    .section-example{
        background-color: $grey;
        // .image-wrapper{
        //     width: 100%;
        //     height: auto;
        // }
    }
}
