@import 'global';

.card-collection{
    display: flex;
    [class*=col-]{
        display: flex;
    }

}
.section-intro{
    .intro{
        text-align: center;
        max-width: 700px;
        margin: 0px auto;
        .title{
            @extend %title-font-size;
            @extend %title-space;
        }
    }
}

.section-cards{
    background-color: $grey;
}
