
<div class="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
        
                <div class='header-content'>
                    <div class="logo-wrapper">
                        <a (click)="menuClickHandler()" class='logo' [routerLink]="['home']">
                            <img src= {{logoUrl}}>
                        </a> 
                    </div>
                    <button class="d-block d-md-none btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMobileMenu" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-bars"></i>
                        <!-- <span class="navbar-toggler-icon"></span> -->
                    </button>
                    <div class="fullscreen-menu-wrapper d-none d-md-block">
                        <menu-ui></menu-ui>
                        <!-- <nav class='main-nav'>
                            <ul class="nav-list">
                                <li class='nav-item'>
                                    <a [routerLink]="['learn']"> Learn </a>
                                </li>
                                <li class='nav-item'>
                                    <a [routerLink]="['downloads']"> Downloads </a>
                                </li>
                            </ul>
                        </nav> -->
                    </div>


                  
                </div>
                <div id="collapseMobileMenu" class="mobile-menu-wrapper collapse">
                        <menu-ui (navigationEvent)="menuClickHandler()" class="mobile"></menu-ui>
                </div>
            </div>
        </div>
    </div>
   
</div>

