
//colours
$grey: #f4f4f4;
$white: white;
$black: #2e302b;
$purple: #966d96;
// $severityColourInfo: #be4bdb;
$severityColourInfo: $purple;
$severityColourWarning: yellow;
$severityColourError: red;

//general
$boxShadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);

//fonts
//$fa-font-path: "~font-awesome/fonts";


//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;