
.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    main{
        flex-grow: 1;
        position: relative;
        splashscreen-ui {
            position: absolute;
            z-index: 1000;
            top: 0px;
            bottom: 0px;
            width: 100%;
            .splash-screen, .content-wrapper {
                height: 100%
            }
        }
    }
}

