@import 'variables';
.carousel{
    .slide-wrapper{
        //padding: 0px 40px;
    }
    .carousel-controls{
        justify-content: flex-end;
        margin-bottom: 10px;
        .carousel-control-wrapper{
            display: inline-block;
            a{
                display: inline-block;
                position: static;
                width: auto;
                margin-left: 5px;
            }
        }
    
        .carousel-icon-wrapper{
            background-color: black;
            padding: 8px;
        }
    }


    .carousel-inner{
        margin: auto;
    }

    
}