@import 'variables';
:host {
    height: 100%;
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    &, .content{
        height: 100%;
    }
    .notice-collection{
        padding: 0px;
        margin: 0px;
        list-style: none;
        // box-shadow: $boxShadow;
        background-color: $black;
        li{
            margin-bottom: 2px;
            //border-bottom: solid $black 2px;
        
        }

    }
    .content{
        position: relative;
        flex-grow: 1;
        min-height: 250px;
        splashscreen-ui {
            position: absolute;
            z-index: 100;
            top: 0px;
            bottom: 0px;
            width: 100%;
        }    
    }
}